.wraper{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.container{
    width: 130vh;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform-style: preserve-3d;
    transform-origin: 50% 50%;
    animation: rotating3D 40s ease infinite;
}
.slider{
    width: 700px;
    height: 50%;
    top: 50%;
    display: flex;
    align-items: center;
    gap: 300px;
    justify-content: space-between;
    transform-style: preserve-3d;
    transform:rotateY(calc(var(--s)*45deg));
    position: absolute;
}
@keyframes rotating3D {
    0%{
        transform: rotateY(0deg);
    } 
    100%{
        transform: rotateX(45deg) rotateY(-360deg);
    }
    
}
.item{
    width: 200px;
    height:110px;
    background-color: black;
    text-align: center;
    font-size: 50px;
    color: aliceblue;
}
body:has(option[value="ring"]:checked) > .wraper .container .slider .item:nth-child(1){
    transform: rotateY(-90deg);
}
body:has(option[value="ring"]:checked) > .wraper .container .slider .item:nth-child(2){
    transform: rotateY(90deg);
}
body:has(option[value="wheal"]:checked) > .wraper .container .slider{
    background-color: black;
    border: solid wheat;
}
body:has(option[value="wheal"]:checked) > .wraper .container{
   animation: rotating3D 20s ease infinite;
}
body:has(option[value="flower"]:checked) > .wraper .container .slider{
    width: 300px;
    gap: unset;
    align-items: center;
    height: fit-content;
    background-color: rgb(250, 4, 4);
    border: solid;

}
body:has(option[value="flower"]:checked) > .wraper .container .slider .item{
    transform: rotateY(90deg);
    background-color: rgb(250, 4, 4);
    border: solid;
}
body:has(option[value="star"]:checked) > .wraper .container {
    animation: rotating3DStar 40s ease infinite;
}
body:has(option[value="star"]:checked) > .wraper .container .slider{
    width: 300px;
    gap: unset;
    align-items: center;
    height: fit-content;
}
body:has(option[value="star"]:checked) > .wraper .container .slider .item{
    transform: rotateY(90deg);
    background-color: rosybrown;
    border: solid;
}
@keyframes rotating3DStar {
    0%{
        transform: rotateX(85deg);
    } 
    100%{
        transform: rotateX(45deg) rotateY(-360deg);
    }
    
}
@media (max-width:760px) {
    .wraper{
        flex-direction: column;
    }
    .container{
        width: 70px;
    }
    .slider{
        width: 700px;
    }
    .item{
        width: 150px;

    }
    body:has(option[value="wheal"]:checked) > .wraper .container .slider{
        width: 300px;
        gap: 200px;
    }
    body:has(option[value="wheal"]:checked) > .wraper .container .slider .item{
    }
    body:has(option[value="ring"]:checked) > .wraper .container .slider{
        width: 200px;
        gap: 100px;
    }
}