body{
    display: flex;
    align-items: center;
    flex-direction: column;  
}
#heading{
    font-size: 3rem;
    margin-top: 90px;
}
#container{
    border: 5px solid;
    border-radius: 50px;
    width: 500px;
}
#display{
    font-size: 5rem;
    margin: 50px;
}
#btns{
    display: flex;
    justify-content: space-around;
    margin: 30px;
}
button{
    padding: 15px 40px;
    border: none;
    border-radius: 10px;
    color: white;
    transition: background-color 0.4s ease;
}
#start{
    background-color: green;
}
#start:hover{
    background-color: rgb(34, 233, 34);
}
#stop{
    background-color: rgb(155, 27, 27);
}
#stop:hover{
    background-color: rgb(255, 4, 4);
}
#reset{
    background-color: rgba(10, 35, 177, 0.795);
}
#reset:hover{
    background-color: rgba(78, 101, 236, 0.699);
}
.home{
    color: rgb(240, 234, 234);
    background-color: black;
    padding: 3px;
    text-decoration: none;
    font-size: 23px;
    position: absolute;
    border-radius: 7px;
    top: 5%;
    right: 10%;
    z-index: 1;

}
@media (max-width:760px) {
    body{
        height: 100vh;
        justify-content: center;  
    }
    #container{
        width: 300px;
    }
    #heading{
        margin-bottom: 15px;
        margin-top: 0;
    }
    div{
        margin: 20px;
    }
    #display{
        font-size: 3rem;
        margin: 30px;
        text-align: center;
    }
    button{
        padding: 5px 20px;
    }
    #stop{
        background-color: rgb(243, 52, 52);
    }
    #restart{
        background-color: rgba(78, 101, 236, 0.699);
    }
}