*{
    padding: 0;
    margin: 0;
}
.wraper{
    width: px;
    height: 100vh;
    background-color: azure;

}
.header{
    height: 10%;
    border: 3px solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav{
    display: flex;
    gap: 50px;
}
.bodydiv{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container{
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.item{
    width: 100px;
    height: 200px;
    font-size: 68px;
    text-align: center;
    align-content: center;
    border: 3px solid;
    border-radius: 15px;
    height: 170px;
    overflow: hidden;
}
.item:nth-child(1),
.item:nth-child(7){
    width: 50px;
    height: 100px;
}
.item:nth-child(2),
.item:nth-child(6){
    width: 80px;
    height: 120px;
}
.item:nth-child(3),
.item:nth-child(5){
    width: 110px;
    height: 150px;
}
.item:nth-child(4){
    width: 200px;
    height: 240px;
}
.img img{
    max-width: 100%;
}
#current{
    background-color: red;
    width: 600px;
    height: 500px;
}